<div class="container">
    <h1>Person Form</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                  class="form-control" 
                  id="name" 
                  name="name"
                  [(ngModel)]="person.name"
                  required
                  #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Please write a name
            </div>
        </div>
        <div class="form-group">
            <label for="alterEgo">Alter Ego</label>
            <input type="text" 
                  class="form-control" 
                  id="alterEgo" 
                  name="alterEgo"
                  [(ngModel)]="person.alterEgo"
                  required
                  #alterEgo="ngModel">
            <div [hidden]="alterEgo.valid || alterEgo.pristine" class="alert alert-danger">
              Please write an alterEgo
            </div>
        </div>
        <button type="button" class="btn btn-default">New Person</button>
    </form>
</div>
